@use '../scss/components/mixins' as *;

// My Variables
//Primary Colors
$white: #ffffff;
$gray-border: #838391;
$gray-hover: #38384F;
$dk-blue-bg: #070724;

//Planet colors
$earth: #6f2ed6;
$jupiter: #d83a34;
$mars: #d14c32;
$mercury: #419ebb;
$neptune: #2d68f0;
$saturn: #cd5120;
$uranus: #1ec2a4;
$venus: #eda249;

//My Fonts
$header-font: 'Antonio',
sans-serif;
$body-font: 'Spartan',
sans-serif;
$menu-font-size: 12px;

// Breakpoints
$bp-lg: 992px;
$bp-xl: 1200px;

/***********************/

// BtSt Variables
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.75; // 12px
$font-size-lg: $font-size-base * 1.25;
/***********************/

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $menu-font-size;

$font-sizes: (1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size);


/**************************/   
//My Overrides
$primary: $dk-blue-bg;
$secondary: $gray-border;
$headings-font-family: $header-font;
$font-family-sans-serif: $body-font;
$border-color: $gray-border;

















//Upper Section


// Import Bootstrap 5
@import "../node_modules/bootstrap/scss/bootstrap.scss";



