.description {
    @include flex (column, center, center);
        margin: 0 2.4rem;
    
    @media only screen and (min-width: $bp-md) and (max-width: 1199px){
        margin-top: 11rem;
        margin-bottom: 10rem;
    }

    @media only screen and (min-width: $bp-xl) {
        @include flex (row, center, center);
        margin: 12rem 9.4rem;
    }


    .top__container {
        @media only screen and (max-width: 767px) {
          margin: auto;
          
           
        }

        @media only screen and (min-width: $bp-md) {
            display: grid;
            width: 100%;
            margin: 0;
            padding: 0 2.4rem;
            grid-template-areas: 
            "info tabs";
            grid-template-columns: 1fr 1fr;
        }

        @media only screen and (min-width: $bp-xl) {
            @include flex (column, space-between, center);
        }

        .description-planet {
            @media only screen and (max-width: 767px) {
                @include flex (column, space-between, center);
                margin: auto;
                height: 100%;
            }

            @media only screen and (min-width: $bp-md){
                grid-area: info;
            }

            .planet-title,
            .planet-text {
                text-align: center;
            }

            .planet-title {
               margin-bottom: 1.6rem;

            }

            .planet-text {
                margin-bottom: 3.6rem;
            }

            .body-text {
                margin-bottom: 2.8rem;
            }
        }
        
    }


    .planet-image__container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;

        .planet-image--bottom {
            margin: auto;
        }

        .planet-image--top {
            position: absolute;
            top: 70%;
            right: 30%;
            z-index: 0;
  
        }
    }
    
}

.desc-buttons--mobile {
    height: max-content;
    padding: 0 2.4rem;
    border-bottom: solid 1px $color-lt-gray;
    @include flex (row, space-between, center);

    @media only screen and (min-width: $bp-md){
        display: none;
    }
}

.desc-buttons--tablet {

    @media only screen and (max-width: 767px) {
        display: none;
    }

    @media only screen and (min-width: $bp-md) {
        grid-area: tabs;
        flex-direction: column;
        justify-content: center;
        border: none;
        height: 100%;
        margin: 0;
        padding: 0;
         @include flex (column, center, center);
    }
    .btn-tablet {
        @media only screen and (min-width: $bp-md) {
            width: 28rem;
            height: 4rem;
        }
    }

    .btn-tablet:not(:last-of-type) {
        @media only screen and (min-width: $bp-md){
            margin-bottom: 1.6rem;
        }
    }

}



.geology-image {
    display: none;
}
