.description {
    @include flex (column, center, center);
    height: 56rem;

    @media only screen and (min-width: $bp-lg) and(max-width: $bp-xl){
        @include flex (row, center, center);
        height: 80rem;
    }

    .top-right__container {
        @media only screen and (min-width: $bp-md) {
            @include flex (row, space-between, center);
        }

        @media only screen and (min-width: $bp-xl) {
            @include flex (column, space-between, center);
        }
    }


    
}

.desc-buttons--mobile {
    height: 5rem;
    @include flex (row, space-between, center);

    @media only screen and (min-width: $bp-md){
        display: none;
    }
}


