.description {
    @include flex (column, center, center);
    height: 73rem;
    @media only screen and (min-width: $bp-md) and (max-width: 1199px){
        height: 90rem;
    }
    @media only screen and (min-width: $bp-xl) {
        @include flex (row, center, center);
        height: 80rem;
    }


    .top-right__container {
        @media only screen and (min-width: $bp-md) {
            @include flex (row, space-between, center);
        }

        @media only screen and (min-width: $bp-xl) {
            @include flex (column, space-between, center);
        }
    }

    .planet-image__container {
        position: relative;
        margin: auto;

        .planet-image--bottom {
            margin: auto;
        }

        .planet-image--top {
            position: absolute;
            transform: translateX(30px) translateY(-30px);

            @media only screen and (min-width: $bp-md) and (max-width: $bp-lg){
                transform: translateX(55px) translateY(-50px)
            }
        }
    }
    
}

.desc-buttons--mobile {
    height: 5rem;
    @include flex (row, space-between, center);

    @media only screen and (min-width: $bp-md){
        display: none;
    }
}

.desc-buttons--tablet {

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.geology-image {
    display: none;
}
