.header {
    grid-area: header;
    width: 100%;

    .navbar {
        width: 100%;
        @media only screen and (min-width: $bp-xl) {
            @include flex(row, space-between, center);
        }

        &__header {
            width: 100%;
            @include flex(row, space-between, center);

            @media only screen and (min-width: $bp-md){
                justify-content: center;
            }

            @media only screen and (min-width: $bp-xl){
                width: 25%;
            }

            .hamburger-btn {
                cursor: pointer;
                @media only screen and (min-width: $bp-md) {
                    display: none;
                }
            }
        }

        &__menu {
            width: 100%;
            @media only screen and (max-width: 767px){
                background-color: $color-dk-blue;
                position: fixed;
                 left: -100%;
                 transition: 0.5s;
            }
           

            @media only screen and (min-width: $bp-md) {
                @include flex(row, space-around, center);
            }

            @media only screen and (min-width: $bp-xl) {
                width: 75%;
            }

            &-item {
                @include flex (row, space-between, center);

                .planet-icon {
                    padding: 0 1rem;
                    @media only screen and (min-width: $bp-md) {
                        display: none;
                    }
                }

                .menu-chevron {
                    padding: 0 1rem;
                    cursor: pointer;

                    @media only screen and (min-width: $bp-md) {
                        display: none;
                    }
                }
            }

        }

        &__menu.active {
            left: 0;
        }
    }
    
}   

    