@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&family=Spartan:wght@400;700&display=swap');

// Headings

h1,
h2 {
    font-family: $heading-font-family;
    font-weight: $weight-medium;
    color: $color-white;
} 

h3,
h4 {
    font-family: $body-font-family;
    font-weight: $weight-bold;
    color: $color-white;
}

.h1-title {
    font-size: 8rem;
    line-height: 10.3rem;
}

.h2-title {
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: -1.5;
}

.h3-title {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: +2.6;
}

.h4-title {
    font-size: 1.1rem;
    font-weight: $weight-regular;
    line-height: 2.5rem;
    letter-spacing: +1;
    text-transform: uppercase;
    color: $color-lt-gray;
}

// Text
.body-text {
    font-family: $body-font-family;
    font-weight: $weight-regular;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $color-white;
}
