

// My Theme Colors
//Primary Colors
$white: #ffffff;
$gray-border: #838391;
$gray-hover: #38384F;
$dk-blue-bg: #070724;

//Planet colors
$earth: #6f2ed6;
$jupiter: #d83a34;
$mars: #d14c32;
$mercury: #419ebb;
$neptune: #2d68f0;
$saturn: #cd5120;
$uranus: #1ec2a4;
$venus: #eda249;

//My Fonts


// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;


