// Primary Colors
$color-white: #ffffff;
$color-dk-blue: #070724;
$color-dk-gray: #38384f;
$color-lt-gray: #838391;

// Planet Colors
$earth: #6f2ed6;
$jupiter: #d83a34;
$mars: #d14c32;
$mercury: #419ebb;
$neptune: #2d68f0;
$saturn: #cd5120;
$uranus: #1ec2a4;
$venus: #eda249;

// Fonts
$heading-font-family: 'Antonio',
sans-serif;
$body-font-family: 'Spartan',
sans-serif;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;


// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px; 
$bp-xl: 1200px;
$bp-xxl: 1400px;
